<%-include("../partials/header")%>
<%-include('../partials/navbar')%>
<main class="container  mt-5 home" style="width:65vw">
<div class="jumbotron mt-5">
   
 <h1> Hey <span class="typing " style="color:#023e8a;font-size: xx-large;"> </span></h1>
 <h4>How are you , you need to mark your</h4>
  <p class="lead" ><a href='/entry'><b>entry</b></a> here by visting this link or by click the button below</p>




  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus tempore nesciunt quod ducimus dolor, veritatis ipsam nobis explicabo quos esse earum numquam. Repudiandae atque maiores laboriosam soluta ducimus provident ipsam.</p>


    <p class="lead">
      HERE &RightArrow;
    <a class="btn btn-primary btn-lg las" href="/entry" role="button">Entry</a>
  </p>
</div>
</main>
<%-include('../partials/footer')%>