.btn-outline-primary:hover,.btn-primary:hover,.navbar{
    background-color: #ccc;
    color:#023e8a;
}
.btn-outline-primary{
    border-color: #023e8a;
}

p{
    color: #023e8a;
}
.navbar,.btn-primary
{
   background-color: #023e8a;
}
.main{
    margin-top: 4.5 rem;
}
a{
    outline: none;
}
.btn-outline-dark
{
    color:#023e8a;
    border-color: #023e8a;
}
.btn-outline-dark:hover{
    background-color: #023e8a;
}